<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/medium-editor.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Serif+JP" rel="stylesheet">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
<!-- NAVBAR -->

<nav class="navbar navbar-inverse nav-font custom-navbar">
    <div class="container">
        <ul class="nav navbar-nav">
            <a class='navbar-brand bigbrand' href="{% url 'post_list' %}">
            </a>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="https://www.github.com">Github</a></li>
            <li><a href="https://www.linkedin.com">LinkedIn</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'post_new' %}">New Post</a>
                </li>
                <li>
                    <a href="{% url 'post_draft_list' %}">Drafts</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Log out</a>
                </li>

                <li>
                    <a>Welcome: {{ user.username }}</a>
                </li>
            {% else %}
                <a class='btn btn-success navbar-btn' href="{% url 'login' %}">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </a>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- CONTENT BLOCK -->

<div class="content container">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/medium-editor.min.js' %}"></script>

</body>
</html>
