<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/medium-editor.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Serif+JP" rel="stylesheet">
    {% block stylesheet %}
    {% endblock %}
</head>
<body>

<!-- NAVBAR -->

<nav class="navbar navbar-inverse nav-font">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a class='navbar-brand' href="{% url 'post_list' %}"></a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="https://www.github.com">Github</a></li>
            <li><a href="https://www.linkedin.com">LinkedIn</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'post_new' %}">
                        <span class="glyphicon glyphicon-edit"></span> New Post
                    </a>
                </li>
                <li>
                    <a href="{% url 'post_draft_list' %}">
                        <span class="glyphicon glyphicon-check"></span> Drafts
                    </a>
                </li>
                <li>
                    <a href="{% url 'post_draft_list' %}">
                        <span class="badge"></span> {{ comment.count }} Pending Comments
                    </a>
                </li>
                <a class='btn btn-danger navbar-btn' href="{% url 'logout' %}">
                    Log out <span class="glyphicon glyphicon-log-out"></span>
                </a>
            {% else %}
                <a class='btn btn-success navbar-btn' href="{% url 'login' %}">
                    Login <span class="glyphicon glyphicon-log-in"></span>
                </a>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- CONTENT BLOCK -->

<div class="container">

    {% if user.is_authenticated %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <strong>Welcome {{ user.username }}!</strong>
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}

</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/medium-editor.min.js' %}"></script>

</body>
</html>
