{% extends 'blog/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <div class="col-md-8 col-md-offset-2 post-form">
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong>
            Please bear in mind that your comments have to get approved by the admin first,
             in order for them to be posted publicly. This way we can control inappropriate and irrelevant content!
        </div>
        <div class="title">
            <h1>Write New Comment</h1>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="save btn btn-success">Post Comment</button>
        </form>
    </div>
    <script>
        var editor = new MediumEditor('.editable');
    </script>
{% endblock %}