{% extends 'blog/base.html' %}
{% load humanize %}
{% block content %}

    {% for post in post_list %}
        <div class="list-group">
            <a class="list-group-item" href="{% url 'post_detail' pk=post.pk %}">
                <h3 class="list-group-item-heading">{{ post.title }}</h3>

                <p class="list-group-item-text">
                    <span class="glyphicon glyphicon-time"></span> {{ post.published_date|naturaltime }}
                    &emsp;
                    <span class="badge">{{ comment_count }}</span> Comments
                </p>
            </a>
        </div>
    {% endfor %}

{% endblock %}