{% extends 'blog/base.html' %}
{% load bootstrap3 %}
{% block post %}class="active"{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2 post-form">
    <div class="title">
        <h1>New Post</h1>
    </div>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="save btn btn-success">
                <span class="glyphicon glyphicon-share"></span> Save to Draft
            </button>
        </form>
    </div>
    <script>
        var editor = new MediumEditor('.editable');
    </script>
{% endblock %}