body {
    background-image: url(../img/bg.png);
}

/* --------------- Navbar Style ------------------ */

.navbar-inverse .navbar-nav > .active > a{
    background-color: #222;
}

.nav-font{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.navbar-brand {
    position: inherit;
    background: url(../img/logo.png) center center;
    width: 170px;
    background-size: contain;
}

.navbar-brand:hover{
    position: relative;
    background: url(../img/logo_hover.png) center center;
    width: 170px;
    background-size: contain;
}

/* ------------------ Post List Style -------------------*/

.post-list:hover{
    text-decoration: none;
}

.post-panel:hover{
    background-color: #eee;
}

.post-details{
    color: #777;
}

.badge-warning {
    background-color: #f0ad4e;
    font-family: 'Montserrat', sans-serif;

}

/* --------------- Post Detail ------------------------*/

.post-form{
    font-family: 'Montserrat', sans-serif;
}

.medium-editor-textarea{
    height: 20em;
    overflow: auto;
}

.title{
    margin-bottom: 2.5em;
    text-align: center;
}

.post-content{
    padding: 1em 0 1em 0;
    font-size: 1.2em;
}

/* ------------------ About -------------------*/

.logo{
    max-width: 50%;
}

.about-form{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}



